/* Reset */
*{
    box-sizing: border-box;
}
/* Asi el contenido ocupara el tamaño de la caja y no habra overflow*/

/*Es acosenjable declarar los estilos anidados*/
.logo {
  width: 150px;
  height: 150px;
  background: deeppink;
  padding: 1rem;
  margin: 20px;
  border: 5px solid black;
  img{
    width: 100%;
  }
 
}
 